* {
    margin: 20px;
    padding: 0;
}

nav {
    margin-left: 50px;
    padding-left: 50px;
    background-color: darksalmon;
    width: 100vw;
    height: 300px;
    display: -ms-flexbox;
    justify-content: space-evenly;
    align-items: flex-start;
}

body {
    background-color: darksalmon;
    justify-content: space-evenly;
    display: -ms-flexbox;
}